<div>
    <h2>Forgot your password?</h2>
    <span>Don't worry we'll take it on from here. Just fill out the form below.</span>

    <div>
        <span> Username </span><input type="text" placeholder="Type in your username." name="username" >
        
    </div>
    <div>
        <span>Security Question</span>

        <input type="text" name="Security" placeholder="Type in your answer here." [(ngModel)]="securityAnswer">
    </div>


    <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
</div>