<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li><a *ngIf="auth.isUserLoggedIn()" routerLink="/home" class="nav-link">View Employees</a></li>
            <li><a *ngIf="auth.isUserLoggedIn()" routerLink="/logout" class="nav-link">Add New Employee</a></li>
            <li><a *ngIf="!auth.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="auth.isUserLoggedIn()" routerLink="/register" class="nav-link">LogOut</a></li>
        </ul>
    </nav>
</header>